body,
html {
  background-color: #01395e;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://i.imgur.com/PvnR3eW.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}