body,
html {
    background-color: #01395e;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-custom {
    background-color: #022C48;
}

.form-control {
    background-color: #022C48;
    background: #022C48;
    border: 1px solid #022C48;
    border-radius: 20px;
    color: #FFFFFF;
}

.input {
    background-color: #022C48 !important;
    background-image: none !important;
    color: #FFFFFF !important;
}

.input:-internal-autofill-selected {
    background-color: #022C48 !important;
    background-image: none !important;
    color: #FFFFFF !important;
}

.form-control:focus {
    color: #FFFFFF;
    background-color: #022C48;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}