body,
html {
  background-color: #01395e!important;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-custom {
  background-color: #022C48;
}

.form-control {
  background-color: #022C48;
  background: #022C48;
  border: 1px solid #022C48;
  border-radius: 20px;
  color: #FFFFFF;
}

input {
  background-color: #022C48 !important;
  background-image: none !important;
  color: #FFFFFF !important;
}

input:-internal-autofill-selected {
  background-color: #022C48 !important;
  background-image: none !important;
  color: #FFFFFF !important;
}
